{% extends "base.html" %} {% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h2 class="display-4 text-light">My Books</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="POST">
        <p>
          {{form.searchString(class="searchBar")}}{{form.submit(class="btn
          btn-primary")}}
        </p>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <th>Book name</th>
        <th>Author</th>
        {% for item in data %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.author}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
